.App {
    text-align: center;
    background: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.configItem{
    margin-right: 30px;
}

.note {
    font-size: 11px;
    color: #666;
}
.jsonDiv > textarea {
    font-family: 'Lucida Console', 'Consolas', 'Courier New', Courier, monospace;
}

.colorActive {
    /*color: red;*/
    text-decoration: underline;;
}

h1.title {
    color: white;
font-size: 1.5em;
font-weight: 600;
/* line-height: 1.125; */
background: #00a9e0;
position: relative;
/* top: -31px; */
padding: 2px;
left: 0px;
right: 0px;
bottom: 0px;
margin: 0px !important;
font-variant: small-caps;}

body {
    padding: 0px !important;
    background: linear-gradient(#eee, white 30%) fixed;
}